<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dogenote"
    android:versionCode="1"
    android:versionName="1.0" >



    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dogenote"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.dogenote.dogenote.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dogenote.aboutlogin.RegisterActivity" >
        </activity>
        <activity android:name="com.dogenote.aboutlogin.LoginActivity" >
        </activity>
        <activity android:name="com.dogenote.extra.noteEdit" >
        </activity>
        <activity android:name="com.dogenote.aboutlogin.Login" >
        </activity>
        <activity android:name="com.dogenote.aboutlogin.Register" >
        </activity>
    </application>

</manifest>